---
import Layout from "../../layouts/Layout.astro"
import Team from "../../components/Team.astro"
import { people } from "../../data/data.js"
import type { PersonT, TeamT } from "../../models/models.ts"

const { person: personNameLowerCase } = Astro.params

const person: PersonT = people[personNameLowerCase as string];
---

<Layout title="{person.name}">
    <h1>{person.name}</h1>
    <ul>
        {person.teams?.map((team: TeamT) => <li><Team team={team} hidePerson={true} showUpcoming={true} /></li>)}
    </ul>
</Layout>
