---
import Layout from "../../layouts/Layout.astro";
import Match from "../../components/Match.astro";
import { teams } from "../../data/teams.ts";
import now from "../../data/now.ts";
import matches from "../../data/matches.ts";
import type { TeamT, MatchT, FeedT } from "../../models/models.ts";

const { team: teamNameLowerCase } = Astro.params;
const team = teams[teamNameLowerCase as string];

const thisTeam = (match) => {
    return ((match.home && match.home.name === team.name) ||
        (match.away && match.away.name === team.name));
}

const thisTeamMatches = matches.matches.filter((m) => thisTeam(m))
const fixtures = thisTeamMatches.filter((m) => m.status === "UPCOMING");
const inProgress = thisTeamMatches.filter((m) => m.status === "CURRENT");
const results = thisTeamMatches.filter((m) => m.status === "FINISHED");

---
<Layout title={team.name}>
    <h1>{team.name}</h1>
    {inProgress.length > 0 && <h2>In Progress</h2>}
    {inProgress.map((match) => <Match match={match} />)}
    {fixtures.length > 0 && <h2>Fixtures</h2>}
    {fixtures.map((match) => <Match match={match} />)}
    {results.length > 0 && <h2>Results</h2>}
    {results.map((match) => <Match match={match} />)}
</Layout>
