---
import Layout from "../../layouts/Layout.astro"
import Match from "../../components/Match.astro"
import { teams } from "../../data/data.ts"

const { team: teamNameLowerCase } = Astro.params
const team = teams[teamNameLowerCase as string]
---
<Layout title={team.name}>
    <h1>{team.name}</h1>
    {team.current!.length > 0 && <h2>In Progress</h2>}
    {team.current!.map((match) => <Match match={match} />)}
    {team.upcoming!.length > 0 && <h2>Fixtures</h2>}
    {team.upcoming!.map((match) => <Match match={match} />)}
    {team.finished!.length > 0 && <h2>Results</h2>}
    {team.finished!.map((match) => <Match match={match} />)}
</Layout>
