---
import Team from "./Team.astro"

const { match } = Astro.props
---
<div class="match component">
    <div class="home">
        <Team team={match.home} />
    </div>
    <div class="score-home">{match.score?.total.home}</div>
    <div class="divider">{match.score ? '–' : 'v'}</div>
    <div class="score-away">{match.score?.total.away}</div>
    <div class="away">
        <Team team={match.away} />
    </div>
    <div class="pens-home">{match.score?.penalty?.home}</div>
    <div class="pens-div">{match.score?.penalty ? "–" : ""}</div>
    <div class={`pens-away ${match.score?.penalty ? "has-pens" : ""}`}>{match.score?.penalty?.away}</div>
    <div class="stage">{match.stage}</div>
    <div class="kickoff"><time datetime={match.kickoff} data-format="MMMM Do, H:mma">{match.kickoff.toLocaleDateString("en-GB")}</time></div>
    <div class="stadium">{match.stadium.name}</div>
</div>

<style>
    :root {
        --score-font-size: var(--x-large-font-size);
        --result-font-size: var(--x-large-font-size);
        --details-font-size: var(--normal-font-size);
    }
    .match {
        border-radius: 24px;
        display: grid;
        font-size: var(--score-font-size);
        line-height: 1;
        max-width: 20em;
        padding-top: 8px;
        padding-bottom: 8px;
        grid-template-columns: 1fr 2ch 1ch 2ch 1fr;
        grid-template-areas: 
            "home      score-home divider  score-away away"
            "pens-home pens-home  pens-div pens-away  pens-away"
            "stage     stage      stage    stage      stage"
            "kickoff   kickoff    kickoff  kickoff    kickoff"
            "stadium   stadium    stadium  stadium    stadium"
    }
    .home, .away {
        font-size: var(--result-font-size);
    }
    .stage, .kickoff, .stadium, .extra-time, .pens-home, .pens-div, .pens-away {
        font-size: var(--details-font-size);
        line-height: 1.5;
    }
    .stage {
        padding-top: 8px;
    }
    .kickoff, .stadium {
        color: var(--deemphasized-text-color);
    }
    .score, .extra-time, .stage, .kickoff, .stadium, .divider, .pens-div {
        text-align: center;
    }
    .score-home, .home, .pens-home {
        text-align: right;
    }
    .has-pens:after {
        content: "pens";
        margin-left: 4px;
        position: absolute;
    }


    /* Grid Areas */

    .home {
        grid-area: home;
    }
    .score-home {
        grid-area: score-home;
    }
    .divider {
        grid-area: divider;
    }
    .score-away {
        grid-area: score-away;
    }
    .away {
        grid-area: away;
    }

    .extra-time {
        grid-area: extra-time;
    }

    .pens-home {
        grid-area: pens-home;
    }
    .pens-div {
        grid-area: pens-div;
    }
    .pens-away {
        grid-area: pens-away;
    }

    .stage {
        grid-area: stage;
    }

    .kickoff {
        grid-area: kickoff;
    }

    .stadium {
        grid-area: stadium;
    }
</style>
