---
import Person from "./Person.astro"
import Probability from "./Probability.astro"

const { team, hidePerson, showUpcoming, showProbability } = Astro.props
const isEliminated = team.upcoming?.length + team.current?.length === 0
const classes = "name" + (isEliminated ? " eliminated" : "")

const nextMatch = team.upcoming?.length > 0 ? team.upcoming[0] : null;
const oppositionName = nextMatch?.home.name === team.name ? nextMatch?.away.name : nextMatch?.home.name
const className = showUpcoming && nextMatch ? "has-upcoming" : ""
---
<span class={`team component ${className}`}>
    <span class="team-info">
        {team.code
            ? <a class={classes} href={`/teams/${team.name.toLowerCase()}/`}>
                {team.name}
             </a>
            : <span class={classes}>{team.name}</span>
        }
        {!hidePerson && team.person && <Person person={team.person} />}
        {showProbability && <Probability probability={team.probability} />}
    </span>
    {showUpcoming && nextMatch
        ?
            <span class="upcoming">
                v
                <a href={`/teams/${oppositionName.toLowerCase()}/`}>{oppositionName}</a>
                <time datetime={nextMatch.kickoff} data-format="fromNow">{nextMatch.kickoff.toDateString()}</time>
            </span>
        : null
    }
</span>

<style>
    .has-upcoming {
        display: flex;
        align-items: baseline;
    }
    .has-upcoming .team-info {
        flex: 1;
    }

    .upcoming {
        color: var(--deemphasized-text-color);
        vertical-align: baseline;
    }
</style>
